# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: MediaService API
    description: |-
        MediaService manages uploaded assets (images, attachments) used in campaigns
         and templates.
    version: 0.0.1
servers:
    - url: https://oh-tarnished.mailkite.newsletter.v1
paths:
    /v1/media:
        get:
            tags:
                - MediaService
            description: Lists uploaded media.
            operationId: MediaService_ListMedia
            parameters:
                - name: pageSize
                  in: query
                  description: |-
                    Maximum number of media objects to return. The server may cap this. When
                     unset, the server picks a default.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: |-
                    A page token received from a previous ListMedia call. Provide this to
                     retrieve the subsequent page.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: |-
                    Filter expression restricting which media are returned. Supports free-text
                     matching against the `filename` field.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListMediaResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/media/{media}:
        get:
            tags:
                - MediaService
            description: Gets a single media object.
            operationId: MediaService_GetMedia
            parameters:
                - name: media
                  in: path
                  description: The media id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Media'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        delete:
            tags:
                - MediaService
            description: Deletes a media asset.
            operationId: MediaService_DeleteMedia
            parameters:
                - name: media
                  in: path
                  description: The media id.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content: {}
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /v1/media:upload:
        post:
            tags:
                - MediaService
            description: Uploads a media asset.
            operationId: MediaService_UploadMedia
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UploadMediaRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UploadMediaResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
components:
    schemas:
        GoogleProtobufAny:
            type: object
            properties:
                '@type':
                    type: string
                    description: The type of the serialized message.
            additionalProperties: true
            description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
        ListMediaResponse:
            type: object
            properties:
                media:
                    type: array
                    items:
                        $ref: '#/components/schemas/Media'
                    description: The page of media objects.
                nextPageToken:
                    type: string
                    description: A token to retrieve the next page, or empty if this is the last page.
                totalSize:
                    type: integer
                    description: Total matching objects across all pages.
                    format: int32
            description: Response message for ListMedia.
        Media:
            type: object
            properties:
                name:
                    type: string
                    description: |-
                        The resource name of the media object.
                         Format: media/{media}
                uuid:
                    readOnly: true
                    type: string
                    description: Server-assigned stable UUID.
                filename:
                    readOnly: true
                    type: string
                    description: Original file name.
                mimeType:
                    readOnly: true
                    type: string
                    description: MIME type (e.g. "image/png").
                url:
                    readOnly: true
                    type: string
                    description: Publicly servable URL of the asset.
                thumbnailUrl:
                    readOnly: true
                    type: string
                    description: URL of the generated thumbnail, when one exists.
                createTime:
                    readOnly: true
                    type: string
                    description: Upload timestamp.
                    format: date-time
            description: An uploaded asset (image, attachment) referenced by campaigns and templates.
        Status:
            type: object
            properties:
                code:
                    type: integer
                    description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
                    format: int32
                message:
                    type: string
                    description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
                details:
                    type: array
                    items:
                        $ref: '#/components/schemas/GoogleProtobufAny'
                    description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
            description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
        UploadMediaRequest:
            required:
                - filename
                - content
            type: object
            properties:
                filename:
                    type: string
                    description: File name to store the asset under.
                content:
                    type: string
                    description: Raw bytes of the asset.
                    format: bytes
                mimeType:
                    type: string
                    description: MIME type of the asset. Inferred from the bytes when empty.
            description: Request message for UploadMedia.
        UploadMediaResponse:
            type: object
            properties:
                media:
                    readOnly: true
                    allOf:
                        - $ref: '#/components/schemas/Media'
                    description: The newly uploaded media object.
            description: Response message for UploadMedia.
tags:
    - name: MediaService
